{
    "xmpp_username": "username@gmail.com",
    "xmpp_password": "enter-password-here",
    "xmpp_host": "talk.google.com",
    "ip4": "IP",
    "ip4_mask": CIDR,
    "controller_logging": "INFO",
    "tincan_logging": 0
}

