{
    "xmpp_username": "ipopuser@ejabberd",
    "xmpp_password": "pragma",
    "xmpp_host": "@IP@",
    "ip4": "@IPIPOP@",
    "ip4_mask": @CIDR@,
    "controller_logging": "CRITICAL",
    "tincan_logging": 0,
    "sec": false,
    "stun": ["@IP@:3478"]
}
