{
    "xmpp_username": "@xmpp_username@",
    "xmpp_password": "@xmpp_password@",
    "xmpp_host": "@xmpp_host@",
    "ip4": "@ip4@",
    "ip4_mask": 24,
    "controller_logging": "CRITICAL",
    "tincan_logging": 0,
    "sec": false,
    "stun": ["@xmpp_host@:3478"]
}
